*{
    box-sizing: border-box;
    margin: 0;
    transition: .5s ease-in-out;
}

body{
    font-family: "Inder", sans-serif;
    margin: 0;
    display: grid;
}
main{
    width: 1540px;
    height: 880px;
}

nav .navigateToHome{
    font-family:Inder;
    font-size: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    margin-left:450px;
    padding-top: 20px;
}
.navigation-bar{
    height: 80px;
    width:1540px;
    background: #F86C63;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .navigateToHome{
    font-family:Inder;
    font-size: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    margin-left:450px;
    padding-top: 50px;
}

div.background{
    width: 1540px;
    height: 880px;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    display: inline-block;
    background-image: url("/images/background-homePage3.png");
}

.background div.containerWithInfo {
    background: #EC6E5E;
    color: #000;
    position: absolute;
    right: 0;
    font-size: 18px;
    padding: 3px 5px;
}

.login-form {
    background:rgba(248, 108, 99, 0.8);
    width: 600px;
    margin: 40px auto;
    display: -webkit-box;
    display: flex;
    font-family: Inder;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.login-form h1 {
    padding: 55px 35px 0 35px;
    text-align: center;
    font-weight: 300;
    color: #000;
}

.login-form .content {
    padding:  20px 55px 55px 55px;
    text-align: left;
}

.login-form .content p {
    padding: 0 55px 0 55px;
    text-align: center;
    color: #fff;
}

.login-form .content p downloading {
    padding: 0 20px 0 20px;
    text-align: center;
    color: #fff;
}
.login-form .input-field {
    padding: 12px 6px;
}
.login-form .input-field input {
    background-color: #E3E3E3;
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.login-form .input-field button {
    background-color: #E3E3E3;
    font-size: 32px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::placeholder {
    text-transform: uppercase;
}
.login-form .input-field input:focus {
    border-color: #222;
}
.login-form .action button {
    width: 100%;
    border: none;
    padding: 12px 6px;
    margin: 60px 0 0 0;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: #E3E3E3;
}
.login-form .action button:hover {
    background: #B5E65C;
}
.login-form .action button:nth-child(2) {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}
.login-form .action button:nth-child(2):hover {
    background: #3c4d6d;
}

nav .action button {
    width: 100%;
    border: none;
    padding: 15px 3px;
    margin: 10px 0px;
    margin-left: 300px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: #E3E3E3;
}
nav .action button:hover {
    background: #B5E65C;
}
nav .action button:nth-child(2) {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}
nav .action button:nth-child(2):hover {
    background: #3c4d6d;
}


.logo img{
    width: auto;
    height: 80px;
}

.wrapper{
    width: 1550px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: left;
}

nav .logo{
    width: 141.25px;
    height: 100px;
}

.home-container{

}

@media(max-width: 1200px){

    .navigation-bar{
        display: block;
        height: 100%;
        width:100%;
        padding-top: 5px;
    }

    .header .nav-action{ /**/
        margin: 15px 50px 20px 400px;
        height:50px;
    }
    .header .nav-action button{  /*UPDATED*/
        width: 100%;
        border: none;
        padding: 12px 6px;
        margin: 0 20px;
        font-family: 'Rubik', sans-serif;
        cursor: pointer;
        text-transform: uppercase;
        background: #e8e9ec;
        color: #000;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 0;
        letter-spacing: 0.2px;
        outline: 0;
        -webkit-transition: all .3s;
        transition: all .3s;
        background-color: #E3E3E3;
    }

    .header .nav-action button:hover { /*UPDATED*/
        background: #4DC05B;
    }

    .header .navigateToHome{
        font-size: 50px;
        text-decoration: none;
        border: none;
        margin-left:250px;
    }

    div.background{
        width: 100%;
    }

    .login-form {
        height: 60%;
        width: 50%;
        margin: 150px auto;
        font-size: 30px;
    }
    .login-form h1 {
        padding: 25px 20px 0 20px;
        font-size: 50px;
    }

    .login-form .input-field {
        padding: 10px 8px;
    }
    .login-form .input-field h5{
        font-size: 30px;
    }
}

@media(max-width: 650px){

    .navigation-bar{
        display: block;
        height: 100%;
        width:100%;
        padding-top: 5px;
    }

    .header .nav-action{ /*UPDATED*/
        margin: 10px 0px 0px 100px;
        height:50px;
    }
    .header .nav-action button{  /*UPDATED*/
        width: 100%;
        border: none;
        padding: 12px 6px;
        margin: auto;
        font-family: 'Rubik', sans-serif;
        cursor: pointer;
        text-transform: uppercase;
        background: #e8e9ec;
        color: #000;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 0;
        letter-spacing: 0.2px;
        outline: 0;
        -webkit-transition: all .3s;
        transition: all .3s;
        background-color: #E3E3E3;
    }

    .header .nav-action button:hover { /*UPDATED*/
        background: #4DC05B;
    }

    nav .logo{
        margin-left:0;
    }

    nav .navigateToHome{
        font-size: 50px;
        text-decoration: none;
        border: none;
        margin-left:0;
    }

    div.background{
        width: 100%;
        height: 150%;
    }

    .login-form {
        height: 95%;
        width: 80%;
        margin: 30px auto;
        font-size: 30px;
    }
    .login-form h1 {
        padding: 25px 20px 0 20px;
        font-size: 50px;
    }

    .login-form .input-field {
        padding: 10px 8px;
        margin: 30px 10px;
    }

    .login-form .input-field input{
        font-size: 36px;
        display: block;
        font-family: 'Rubik', sans-serif;
        width: 100%;
        padding: 10px 1px;
        border: 0;
        border-bottom: 1px solid #747474;
        outline: none;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    .login-form .input-field h5{
        font-size: 30px;
    }

    nav .logo{
        margin-left: 0;
    }
}