* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
*:not(i) {
    font-family: "Inder", sans-serif;
}
header {
    position: fixed;
    width: 100%;
    background-color: #F86C63;
    padding: 5px 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}
nav a {
    font-size: 1.8rem;
    text-decoration: none;
}
nav a#logo {
    color: #000000;
    font-weight: 700;
}
nav ul a {
    margin-left: 30px;
    color: #ffffff;
    font-weight: 600;
}
nav ul a:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}
nav p{
    color: #E3E3E3;
    font-size: 1.8rem;
}
nav .logo img{
    margin-top:10px;
    width: 120px;
    height: 80px;
}

nav p span{
    color: white;
}
section#home {
    height: 90px;
    display: grid;
    place-items: center;
}
h1 {
    font-size: 4rem;
}
#ham-menu {
    display: none;
}
nav ul.active {
    left: 0;
}

.banner-link{
    height: 300px;
}

.carousel {
    position: relative;
    height: 500px;
}

.carousel .item {
    height: 300px;
}

.item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel .carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    height: auto;
}

.carousel-ban-text-adj{
    position: absolute;
    width: 800px;
    display: flex;
    margin-left: 18px;
    bottom: 180px;
    background:rgba(248, 108, 99, 0.5);
    border-radius: 12px;
    padding: 8px;
}
.carousel-header-adj{
    margin: 0;
    vertical-align: top;
    padding-left: 0px;
    text-align: center;
    left: -3px;

}
.carousel-paragraph{
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 0;
    text-align: center;
}
.carousel-img-fit{
    min-width: 980px;
    min-height: 500px;
    object-fit: cover;
    object-position: 50% 50%;
}
.carousel-banner{
    max-height: 600px !important;
    min-height: 500px;
}
.carousel-banner-indicator{
    margin-left:auto;
    margin-right:auto;
    transition: 1s;
}
.carousel-indicators li {
    width: 250px;
    margin-top: -150px;
    margin-left: -60px;
    transition: 1s;
    opacity: 1;
}
.carousel-swap-adjuster{
    bottom: -20px;
}
.carousel-banner.active {
    display: flex;
    justify-content: center;
    align-self: flex-end;
}
.carousel-banner.carousel-item-next{
    display: flex;
    justify-content: center;
}
.carousel-banner.carousel-item-prev{
    display: flex;
    justify-content: center;
}

.searching-bar{
    display: flex;
    justify-content: center;
}

#searchbar{
    margin-top: 50px;
    padding:15px;
    border-radius: 10px;
    border: #AABC7B;
}

.searching{
    background-color: #AABC7B;
    color: black;
    font-weight: bold;
}
.food-list{
    margin-top: 50px;
    text-decoration: none;
    text-align: center;
}

.food-list a {
    font-size:  40px;
    color: black;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
    width: 70%;
}

.foods{
    display: list-item;
}
.second-banner img{
    width: 100%;
    height: 200px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.banner
{
    position:absolute;
    margin-top: 0px;
    z-index: 1;
}

.column1 img{

    width: 200px;
    height: 200px;
    margin-left: 50px;
    position:absolute;
    left: 25px;
    z-index: 2;
}
.column2 h5{
    text-align: center;
    width: 800px;
    height: 200px;
    font-size: 40px;
    margin-left: 500px;
    margin-top: 50px;
    position:absolute;
    z-index: 3;
}


p{
    font-size: 28px;
}
a{
    -webkit-text-stroke-width: 0px;
}
.tile_1{
    z-index: 14;
}
.tile_2{
    z-index: 13;
}
.tile_3{
    z-index: 12;
}

.banner-link{
    background:rgba(248, 108, 99, 0.8);
    height: 10px;
    padding: 10px 5px;
}

footer{
    display: grid;
    margin-top: 300px;
    background:rgba(77, 192, 91, 0.8);
    height: 300px;
    color: white;
}

.footer-first-column{
    margin: 20px;
}
.footer-first-column img{
    width:100px;
    height: 80px;
}
.footer-first-column h5{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 30px;
}

.footer-first-column .connection{
    margin-left: -280px;
    margin-top: 140px;
    font-size: 30px;
}
.footer-first-column .social{
    margin-left: -20px;
}

.footer-second-column{
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    font-size: 10px;
}
.footer-second-column .name-of-column{
    margin-top: 40px;
    font-size: 25px;
}
.footer-second-column ol{
    margin-top: 40px;
    text-decoration: none;
    list-style-type : none;

}

.footer-second-column li{
    padding-top: 8px;
    font-size: 19px;

}

.footer-second-column>div{
    color: white;
    font-size: 20px;
    padding: 10px;
}

.fa {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 12px;
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-github {
    background: white;
    color: black;
}
.fa-microsoft teams{
    background: #55ACEE;
    color: black;
}
.fa-trello {
    background: #55ACEE;
    color: white;
}
.fa-figma {
    background: white;
    color: red;
}
.fa-telegram {
    background: white;
    color: #55ACEE;
}


#outer-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 35% 65%;
    grid-gap: 10px;
}
#outer-grid > div {
    background-color: red;
    color: white;
    font-size: 4vw;
    padding: 10px;
}
#inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}
#inner-grid > div {
    background: salmon;
    padding: 10px;
}


@media(max-width: 1200px){
    html {
        font-size: 60.25%;
    }
    header {
        padding: 2rem 3rem;
    }
    nav ul a {
        margin-left: 0px;
    }
    nav a {
        font-size: 50px;
        text-decoration: none;
    }
    nav a#logo {
        color: #000000;
        font-weight: 700;
    }
    nav ul a {
        margin-left: 30px;
        color: #ffffff;
        font-weight: 600;
    }


}

@media only screen and (max-width: 991px) {
    html {
        font-size: 56.25%;
    }
    header {
        padding: 2.2rem 5rem;
    }
    nav ul a {
        margin-left: 0px;
    }

}
@media only screen and (max-width: 767px) {
    html {
        font-size: 50%;
    }
    #ham-menu {
        display: block;
        color: #ffffff;
    }
    nav a#logo,
    #ham-menu {
        font-size: 3.2rem;
    }
    nav ul {
        background-color: black;
        position: fixed;
        left: -100vw;
        top: 73.6px;
        width: 100vw;
        height: calc(100vh - 73.6px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: 1s;
        gap: 0;
    }
    .carousel-swap-adjuster{
        bottom: -40px;
    }
}
@media only screen and (max-width: 575px) {
    html {
        font-size: 46.87%;
    }
    header {
        padding: 2rem 3rem;
    }
    nav ul {
        top: 65.18px;
        height: calc(100vh - 65.18px);
    }
    .carousel-swap-adjuster{
        bottom: -75px;
    }
}

