<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bad.css"  th:href="@{/css/bad.css}"/>
    <title>Bad</title>
</head>
<body>
<div class="error-500" data-text="Oh no! Our spaghetti code says that something went bad.">
    <spaguetti>
        <fork></fork>
        <meat></meat>
        <pasta></pasta>
        <plate></plate>
    </spaguetti>
</div>
<script th:src="@{/js/bad.js}"></script>
</body>
</html>