<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1"> <!--UPDATED--->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/RestrictedRecipePage.css">
    <title>Lean pancakes with apple juice</title>
</head>
<body>

<header>
    <div class="navigation-bar">
        <div class="container">
            <nav class="header">
                <div class="logo">
                    <img src="/images/logo_with_bg.jpeg" alt="Responsive image" style="height: 100px, width:140px">
                </div>
            </nav>
        </div>
    </div>
</header>

<main>
    <div class="background">
        <div class="login-form">
            <div class="restricted">
                <h2>Lean pancakes with apple juice</h2>
                <h4>Author</h4>
                <p style="text-decoration: underline";>admin@mail.ru</p>
                <h4>Content</h4>
                <p>I want to share with you a recipe on how to cook lean pancakes with apple juice. Such pastries will be relevant for those who are fasting or for those who adhere to a special diet. Despite the fact that pancakes are lean, even children will certainly like them. Delicate, fragrant, can be served both independently and with fillings. Take note of the recipe!</p>
                <h4>Instruction</h4>
                <p>Apple juice - 1 glass
                    Water - 1.5 cups (can be replaced with soy milk)
                    Flour - 2 cups
                    Honey - 2 teaspoons (or agave syrup)
                    Soda - 1/3 teaspoon
                    Salt - 0.5 teaspoons
                    Vegetable oil - 3 tbsp. spoons</p>
                <h4>Date</h4>
                <p>2022-05-10 09:48:38.228</p>
                <div class="like-icon">
                    <img src="/images/like.png" alt="like" style="width: 35px; height: 35px"><p style="font-size: 15px"> 6</p>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>

