<!Doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FAQ</title>
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link rel="stylesheet" type="text/css" href="../static/css/FAQ.css" th:href="@{/css/FAQ.css}">
</head>

<body>
<header>
    <div class="navigation-bar"><h1>Frequently Asked Questions</h1></div>
</header>

<section class="ib-faq js-ib-faq">
    <ul class="faq-categories">
        <li><a class="faq-category" href="#topic-1">Why BAURSAQ?<i class="mob"></i></a></li>
        <li><a class="faq-category" href="#topic-2">As a Guest<i class="mob"></i></a></li>
        <li><a class="faq-category" href="#topic-3">New Posts<i class="mob"></i></a></li>
        <li><a class="faq-category" href="#topic-4">Registration/Authorization<i class="mob"></i></a></li>
        <li><a class="faq-category" href="#topic-5">Recommendations<i class="mob"></i></a></li>

    </ul>

    <div class="faq-items">
        <ul id="topic-1" class="faq-group">
            <li class="faq-title"><h2>Topic 1</h2></li>
            <li class="faq-item">
                <a class="faq-question" href="#0"><span>Why BAURSAQ? - Reason for choosing the name</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>When searching for a name, we wanted to choose something national and related to the field of cuisine. The name of our project sounds great and fits perfectly. </p>
                    </div>
                </div>
            </li>

            <li class="faq-item">
                <a class="faq-question" href="#0"><span>Why BAURSAQ? - What is the project about?</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>Recipe website app in web and mobile app formats, easy to use.</p>
                    </div>
                </div>
            </li>

            <li class="faq-item">
                <a class="faq-question" href="#0"><span>Why BAURSAQ? - Our benefits</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>BAURSAQ - platform with lot of functionalities for users, easy to use also for guests. Viewing all recipes, learning more about each recipe more detailed is available. Easy, Fast, Helpful and Attractive.</p>
                    </div>
                </div>
            </li>

        </ul>

        <ul id="topic-2" class="faq-group">
            <li class="faq-title"><h2>Topic 2</h2></li>
            <li class="faq-item">
                <a class="faq-question" href="#0"><span>As a Guest - How can I sign in</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>On page HOME by clicking first button "Enter As A Guest" you can authomatically sign in, and go to Guest Recipe List Page.</p>
                    </div>
                </div>
            </li>

            <li class="faq-item">
                <a class="faq-question" href="#0"><span>As a Guest - What abilities Guest has?</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>By entering as a Guest you do not need to sign up, then sign in. Just enter the button on HOME page. Then you can view all posts of recipes. You are able to move to all recipe pages.
                            You can only <span>view</span>.</p>
                    </div>
                </div>
            </li>

            <li class="faq-item">
                <a class="faq-question" href="#0"><span>As a Guest - What abilities Guest does not have? </span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>The functionalities as <span>having personal page, edit, delete, update</span>not available.</p>
                    </div>
            </li>
        </ul>

        <ul id="topic-3" class="faq-group">
            <li class="faq-title"><h2>Topic 3</h2></li>
            <li class="faq-item">
                <a class="faq-question" href="#0"><span>New Posts - How to create new post?</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>To create new post move to personal profile and click "Create New Post" button. Then you have to fill the form about your post.</p>
                    </div>
                </div>
            </li>

            <li class="faq-item">
                <a class="faq-question" href="#0"><span>New Posts - Can Guests add new recipes?</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>Guest can`t create posts, they are only able to view recipes.</p>
                    </div>
                </div>
            </li>

            <li class="faq-item">
                <a class="faq-question" href="#0"><span>New Posts - What are parts of post?</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>For uploading new post you have to enter recipe title, write description of food and give instructions how to cook. </p>
                    </div>
                </div>
            </li>

            <li class="faq-item">
                <a class="faq-question" href="#0"><span>New Posts - Is it available to delete exist posts? </span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>For Users deleting posts is possible. Users delete their own recipe posts on personal profile by clicking "delete" button. Guests can only read, from there they can`t delete posts.</p>
                    </div>
                </div>
            </li>
        </ul>

        <ul id="topic-4" class="faq-group">
            <li class="faq-title"><h2>Topic 4</h2></li>
            <li class="faq-item">
                <a class="faq-question" href="#0"><span>Registration/Authorization - What information should be entered?</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>For registration: username, password, repeat the password, name, surname.</p>
                    </div>
                </div>
            </li>

            <li class="faq-item">
                <a class="faq-question" href="#0"><span>Registration/Authorization  - What syntax must be when entering username?</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>Email must be written with @ symbol, otherwise there will be error.</p>
                    </div>
                </div>
            </li>

            <li class="faq-item">
                <a class="faq-question" href="#0"><span>Registration/Authorization - Why appears "Bad" Page?</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>"Bad" page appears when error appears: entering wrong information while doing registration/authorization, clicking to not right buttons, when quick moving between pages.</p>
                    </div>
                </div>
            </li>
        </ul>

        <ul id="topic-5" class="faq-group">
            <li class="faq-title"><h2>Topic 5</h2></li>
            <li class="faq-item">
                <a class="faq-question" href="#0"><span>Recommendations - For Users</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>We recommend you to do not plagiarize.</p>
                    </div>
                </div>
            </li>

            <li class="faq-item">
                <a class="faq-question" href="#0"><span>Recommendations  -  What is age range?</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>For Guests there is no any limits of age. But Users must be 18 or older than this age, cause of created posts goes to whole website. And it should be reliable. </p>
                    </div>
                </div>
            </li>

            <li class="faq-item">
                <a class="faq-question" href="#0"><span>Recommendations - How to add own recipe?</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>You can add your own recipe by entering as User. On Personal Profile click button "Create new Post" -> Fill the form -> click "Create". That is it! Good Luck!</p>
                    </div>
                </div>
            </li>

            <li class="faq-item">
                <a class="faq-question" href="#0"><span>Recommendations - Who are developers of project?</span></a>
                <div class="faq-response">
                    <div class="text-block">
                        <p>About Us You can read in "About Us" section in navigation in Main Pages. Information about email and positions are given in footer. Then you can connect with us in social medias and on web pages.</p>
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <a href="#0" class="faq-close-item text-replace">Close</a>

    <div class="faq-overlay" aria-hidden="true"></div>
</section>

<script type="text/javascript" th:src="@{/js/FAQ.js}"></script>
</body>
</html>
